{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<div class="crm-form-wrapper">
  <div class="crm-form-card">

    <h4 class="crm-title text-center mb-4">
      Registrar venta
    </h4>

    <form method="post" novalidate>
      {% csrf_token %}

      <div class="mb-3">
        <label class="form-label">Nombre de la venta *</label>
        {% render_field form.nombreventa class="form-control" %}
      </div>

      <div class="mb-3">
        <label class="form-label">Oportunidad *</label>
        {% render_field form.oportunidad_venta class="form-control" %}
      </div>

      <div class="mb-3">
        <label class="form-label">Estatus de cobro</label>
        {% render_field form.estatus_cobro class="form-control" %}
      </div>

      <div class="mb-3">
        <label class="form-label">Total *</label>
        {% render_field form.preciototal class="form-control" %}
      </div>

      <div class="mb-3">
        <label class="form-label">CFDI</label>
        {% render_field form.cfdi class="form-control" %}
      </div>

      <div class="mb-3">
        <label class="form-label">Comentarios</label>
        {% render_field form.comentarios class="form-control" %}
      </div>

      <div class="d-flex justify-content-between mt-4">
        <button type="submit" class="btn btn-orange w-50 me-2">
          Guardar
        </button>
        <a href="{% url 'ventas:listar' %}"
           class="btn btn-secondary flex-fill">
          Cancelar
        </a>
      </div>

    </form>

  </div>
</div>
{% endblock %}
