{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="crm-section"> 
   <div class="crm-section-header">
      <h4 class="crm-title">Ventas</h4>
        <div class="gap-2 mt-3 d-md-flex justify-content-md-end mb-3">
          {% if usuario and usuario.rol.nombre_rol == "Dueño" %}
            <div class="crm-section-header">
              <a href="{% url 'ventas:corte_caja' %}" class="btn btn-primary crm-btn">
                Corte de caja
              </a>  
            </div>
          {% endif %}
        
          {% if request.session.modo_superusuario%}
              <div class="crm-section-header">
                <a href="{% url 'ventas:corte_caja' %}" class="btn btn-primary crm-btn">
                  Corte de caja
                </a>  
            </div>
         {%endif%}

          <div class="crm-section-header">
              <a href="{% url 'ventas:ventas_hoy' %}" class="btn btn-primary crm-btn">
                Ventas del dia
                </a>
          </div>

        </div>
    </div>
     <table class="table table-bordered table-sm crm-table-responsive">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Total</th>
              <th >Estatus</th>
              <th >Fecha de registro</th>
            </tr>
          </thead>
          <tbody>
          {% for v in ventas %}
            
              <tr>
                <td data-label="Nombre">{{ v.nombreventa }}</td>
                <td data-label="Total">${{ v.preciototal }}</td>
                <td data-label="Estatus">{{ v.estatus_cobro }}</td>
                <td data-label="Fecha">{{ v.fecha_registro|date:"d/m/Y H:i" }}</td>
                <td data-label="Acciones">
                  {% if v.activo %}
                    <a href="{% url 'ventas:venta_editar' v.idventa %}"
                          class="btn btn-sm btn-warning">
                          Editar
                    </a>

                    <button
                            type="button"
                            class="btn btn-sm btn-danger btn-eliminar"
                            data-url="{% url 'ventas:venta_eliminar' v.idventa %}"
                            data-nombre="{{ v.nombreventa }}">
                            Eliminar
                    </button>
                  {%endif%}
                  {% if request.session.modo_superusuario and not v.activo %}
                        <span class="badge bg-danger ms-2">Eliminado</span>
                  {% elif request.session.modo_superusuario and v.activo %}
                        <span class="badge bg-success ms-2">Activo</span>
                  {% endif %}
                  
                </td>
              </tr>
            
          {% empty %}
            <tr>
              <td colspan="6" class="text-center text-muted">
                No hay ventas registradas
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    
  <a href="{% url 'ventas:crear_venta_manual' %}" class="btn btn-success">
    Registrar venta
  </a>

</div>

{% include "_modal_eliminar.html" %}
<script src="{% static 'js/eliminar.js' %}"></script>
{% endblock %}
