
<div class="modal fade" id="modalEliminarCliente" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <!-- NOTA: Usamos el ID del formulario 'formEliminarCliente' para el JS -->
        <form id="formEliminarCliente" class="modal-content" method="post" >
        
            {% csrf_token %}
            <!-- El valor del ID se rellena por JS al hacer clic en el botón -->
            <input type="hidden" id="eliminar-id" name="idcliente"> 
            
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Confirmar Eliminación</h5>
                <button class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p>¿Estás seguro de eliminar al cliente:</p>
                <p><strong id="elim-nombre" class="text-danger"></strong></p>
                <p class="text-muted small">Esta acción no se puede deshacer (eliminación lógica).</p>
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-danger">Sí, Eliminar</button>
            </div>
        </form>
    </div>
</div>