{% extends 'base.html' %}
{% block title %}Clientes{% endblock %}
{% load static %}
{% block content %}

<div class="crm-section">
    <div class="crm-section-header">
        <h4 class="crm-title">Clientes</h4>

        <a href="{% url 'cliente:crear' %}" class="btn btn-primary crm-btn">
        + Agregar Cliente
        </a>
        <a href="{% url 'cliente:importar' %}" class="btn btn-primary crm-btn">
        + Importar Cliente
        </a>
    </div>

    {% for c in clientes %}
    <div class="crm-card">
        <div class="fw-bold mb-1">
        {{ c.nombre }} {{ c.apellidopaterno |default:""  }} {{ c.apellidomaterno |default:""  }}
        </div>

        <div class="text-muted small">📞 {{ c.numerotelcli }}</div>
        {% if c.correo %}
        <div class="text-muted small">✉️ {{ c.correo }}</div>
        {% endif %}

        <div class="d-grid gap-2 mt-3 d-md-flex">
            <a href="{% url 'cliente:detalle' c.idcliente %}" class="btn btn-outline-secondary crm-btn">
            Consultar
            </a>
            <a href="{% url 'cliente:editar' c.idcliente %}" class="btn btn-success crm-btn">
            Editar
            </a>       
            <button type="button"
                        class="btn btn-danger crm-btn btn-eliminar"
                        data-url="{% url 'cliente:eliminar' 0 %}"
                        data-id="{{ c.idcliente }}"
                        data-nombre="{{ c.nombre }}">
                Eliminar
            </button>
      </div>
    </div>
    
    {% empty %}
    <p class="text-center text-muted">Agrega un cliente</p>
    {% endfor %}
</div>
{% include "_modal_eliminar.html" %}
<script src="{% static 'js/eliminar.js' %}"></script>
{% endblock %}