{% extends 'base.html' %}
{% block title %}Clientes{% endblock %}
{% load static %}
{% block content %}

<div class="crm-section">
    <div class="crm-section-header">
        <h4 class="crm-title">Clientes</h4>
        <div class="gap-2 mt-3 d-md-flex justify-content-md-end mb-3">
            {% if request.session.modo_consultor%}
                <a href="{% url 'cliente:crear' %}" class="btn btn-primary crm-btn">
                + Agregar Cliente
                </a>
            {%else%}
                <a href="{% url 'cliente:importar' %}" class="btn btn-primary crm-btn">
                    + Importar Cliente
                </a>     
            {%endif%}  

        </div>
    </div>

    {% for c in clientes %}
        <div class="crm-card">
                <div class="fw-bold mb-1">
                    {{ c.nombre }} {{ c.apellidopaterno |default:""  }} {{ c.apellidomaterno |default:""  }}             
                        {% if request.session.modo_superusuario and not c.activo %}
                            <span class="badge bg-danger ms-2">Eliminado</span>
                        {% elif request.session.modo_superusuario and c.activo %}
                            <span class="badge bg-success ms-2">Activo</span>
                        {% endif %}                    
                </div>

                <div class="text-muted small">📞 {{ c.numerotelcli }}</div>
                {% if c.correo %}
                <div class="text-muted small">✉️ {{ c.correo }}</div>
                {% endif %}

                <div class="d-grid gap-2 mt-3 d-md-flex">
                    {% if c.activo %}
                        <a href="{% url 'cliente:detalle' c.idcliente %}" class="btn btn-outline-secondary crm-btn">
                        Consultar
                        </a>
                        <a href="{% url 'cliente:editar' c.idcliente %}" class="btn btn-success crm-btn">
                        Editar
                        </a>       
                        <button type="button"
                                    class="btn btn-danger crm-btn btn-eliminar"
                                    data-url="{% url 'cliente:eliminar' 0 %}"
                                    data-id="{{ c.idcliente }}"
                                    data-nombre="{{ c.nombre }}">
                            Eliminar
                        </button>
                    {%endif%}
                </div>
        </div>
    {% empty %}
    <p class="text-center text-muted">Agrega un cliente</p>
    {% endfor %}
</div>
{% include "_modal_eliminar.html" %}
<script src="{% static 'js/eliminar.js' %}"></script>
{% endblock %}