{% extends 'base.html' %}
{% block title %}Empleados{% endblock %}
{% load static %}
{% block content %}

<div class="crm-section">
    <div class="crm-section-header">
        <h4 class="crm-title">Empleados</h4>

        <a href="{% url 'usuario:agregar_empleado' %}" class="btn btn-primary crm-btn">
        + Agregar Empleado
        </a>
    </div>
    
    {% for empleado in empleados %}
    <div class="crm-card">


        <div class="fw-bold mb-1">
        {{ empleado.nombre  }} {{ empleado.apellidopaterno  |default:""  }} {{ empleado.apellidomaterno  |default:""  }}
        </div>


        <div class="text-muted small"> ✉️ {{ empleado.correo }}</div>
        <div class="text-muted small"> {{ empleado.rol.nombre_rol }}</div>

        <div class="d-grid gap-2 mt-3 d-md-flex">
            <a href="{% url 'usuario:consultar_empleado' empleado.idusuario %}" class="btn btn-outline-secondary crm-btn">
            Consultar
            </a>
            <a href="{% url 'usuario:editar_usuario' empleado.idusuario %}" class="btn btn-success crm-btn">
            Editar
            </a>
            <button type="button"
                        class="btn btn-danger crm-btn btn-eliminar"
                        data-url="{% url 'usuario:eliminar_usuario' 0 %}"
                        data-id="{{ empleado.idusuario }}"
                        data-nombre="{{ empleado.nombre }}">
                Eliminar
            </button>
      </div>
    </div>
    
    {% empty %}
    <p class="text-center text-muted">No hay empleados registrados, agrega un empleado</p>
    {% endfor %}
</div>
{% include "_modal_eliminar.html" %}
<script src="{% static 'js/eliminar.js' %}"></script>
{% endblock %}