{% extends 'base.html' %}
{% block title %}Empleados{% endblock %}
{% load static %}
{% block content %}

<div class="crm-section">
    <div class="crm-section-header">
        <h4 class="crm-title">Empleados</h4> 
        <div class="gap-2 mt-3 d-md-flex justify-content-md-end mb-3">
            {% if request.session.modo_consultor%}
                <a href="{% url 'usuario:agregar_empleado' %}" class="btn btn-primary crm-btn">
                    + Agregar Empleado
                </a>
            {%else%}
                <a href="{% url 'usuario:agregar_empleado' %}" class="btn btn-primary crm-btn">
                    + Agregar Empleado
                </a>
            {%endif%}  
        </div>
    </div>
    
    {% for empleado in empleados %}
        <div class="crm-card">
            <div class="fw-bold mb-1">
                {{ empleado.nombre  }} {{ empleado.apellidopaterno  |default:""  }} {{ empleado.apellidomaterno  |default:""  }}
                {% if request.session.modo_superusuario and not empleado.activo %}
                    <span class="badge bg-danger ms-2">Eliminado</span>
                {%  elif request.session.modo_superusuario and  empleado.activo %}
                    <span class="badge bg-success ms-2">Activo</span>
                {% endif %}
            </div>

            <div class="text-muted small"> ✉️ {{ empleado.correo }}</div>
            <div class="text-muted small"> {{ empleado.rol.nombre_rol }}</div>

            <div class="d-grid gap-2 mt-3 d-md-flex">
                {% if empleado.activo %}
                    <a href="{% url 'usuario:consultar_empleado' empleado.idusuario %}" class="btn btn-outline-secondary crm-btn">
                    Consultar
                    </a>
                    <a href="{% url 'usuario:editar_empleado' empleado.idusuario %}" class="btn btn-success crm-btn">
                    Editar
                    </a>
                    <button type="button"
                            class="btn btn-danger crm-btn btn-eliminar"
                            data-url="{% url 'usuario:eliminar_usuario' 0 %}"
                            data-id="{{ empleado.idusuario }}"
                            data-nombre="{{ empleado.nombre }}">
                        Eliminar
                    </button>
                {%endif%}
            </div>
        </div>
    {% empty %}
    <p class="text-center text-muted">No hay empleados registrados, agrega un empleado</p>
    {% endfor %}
</div>
{% include "_modal_eliminar.html" %}
<script src="{% static 'js/eliminar.js' %}"></script>
{% endblock %}