{% extends 'base.html' %}
{% block title %}Inventario{% endblock %}
{% load static %}
{% block content %}

<div class="crm-section">
    <div class="crm-section-header">
        <h4 class="crm-title">Inventario</h4>

        <a href="{% url 'inventario:crear' %}" class="btn btn-primary crm-btn">
        + Agregar Inventario
        </a>
    </div>

    {% for i in inventario %}
    <div class="crm-card">


        <div class="fw-bold mb-1">
        {{ i.nombrearticulo |default:"" }}
        </div>


        <div class="text-muted small"> {{ i.cantidad_disponible }} {{i.unidad}}</div>
        <div class="text-muted small">{{ i.descripcion |default:"" }}</div>


        <div class="d-grid gap-2 mt-3 d-md-flex">
            <a href="{% url 'inventario:detalle' i.idinventario %}" class="btn btn-outline-secondary crm-btn">
            Consultar
            </a>
            <a href="{% url 'inventario:editar' i.idinventario %}" class="btn btn-success crm-btn">
            Editar
            </a>
            <button type="button"
                    class="btn btn-danger crm-btn btn-eliminar-inventario"
                    data-id="{{ i.idinventario }}"
                    data-nombre="{{ i.nombrearticulo }}">
            Eliminar
            </button>
      </div>
    </div>
    
    {% empty %}
    <p class="text-center text-muted">Agrega el inventario</p>
    {% endfor %}
</div>
{% include "inventario/_eliminar_articulo.html" %}
<script src="{% static 'inventario/js/inventario.js' %}?v={{ timestamp }}"></script>
{% endblock %}