/*Variables globales*/
:root {
  --primary: #0d6efd;
  --secondary: #6c757d;
  --bg-light: #f8f9fa;
  --radius: 14px;
}

body {
  background: var(--bg-light);
}

/*Tarjetas para listar clientes*/
.crm-card {
  background: white;
  border-radius: var(--radius);
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.06);
}

/* ===== Botones ===== */
.crm-btn {
  border-radius: 10px;
  font-weight: 600;
}

/* ===== Títulos ===== */
.crm-title {
  font-weight: 700;
  margin-bottom: 12px;
}

.crm-mobile-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #f97316;/*background: white;*/
  display: flex;
  justify-content: space-around;
  padding: 8px 0;
  border-top: 1px solid #ddd;
}

.crm-mobile-nav a {
  text-decoration: none;
  color: #333;
  font-size: 0.75rem;
  text-align: center;
}

.crm-mobile-nav i {
  font-size: 1.4rem;
}

.btn-primary {
  background-color: var(--primary);
  border: none;
}

.container {
  padding: 12px;
}

@media (min-width: 768px) {
  .container {
    padding: 24px;
  }
}

/*Secciones*/
.crm-section{
   min-height: calc(100vh - 120px);
   padding: 20px;
 /*margin-bottom: 24px;*/
}
/*contenedor para formularios, esto estaba antes, funcionaba pero no como quisiera
.crm-form-section{justify-content: center;
  align-items: center;
  width: 100%; 
  max-width: 420px; 
  background: white; 
  padding: 30px; 
  border-radius: 16px; 
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}
*/
/*Contenedores para formularios...*/
.crm-form-wrapper {/*Contenedor externo..*/
  min-height: calc(100vh - 120px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.crm-form-card {/*Tarjeta del formulario como tal ...*/
  width: 100%;
  max-width: 420px;
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.crm-section-header{
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-bottom: 16px;
}

@media (max-width: 768px) {
.crm-section-header {
flex-direction: column;
gap: 12px;
}
}
/*cliente*/
#frecuenciaContainer {
  display: none;
}

#frecuenciaContaineredicion {
  display: block;
}

/*logo en el nav de base*/
.bg-orange {
    background-color: #f97316;
}

.btn-orange {
    background: #f97316;
    color: white;
}

.btn-blue{
  background: #0d6efd;
  color:white;
}

.btn-orange:hover {
    background: #ea580c;
    color: white;
}
/*menu pc y movil*/
.navbar a {
    color: white !important;
}

.logo-box {
    background: #ffedd5;
}

/*tamano del logo el el navbar*/
.navbar-logo {
  height: 60px;/* height: 52px;(el de 52px si funciona)antes 40 */
  width: auto;
  object-fit: contain;
}
