{% extends 'base.html' %}
{% block title %}Proveedores{% endblock %}
{% load static %}
{% block content %}

<div class="crm-section">
    <div class="crm-section-header">
        <h4 class="crm-title">Proveedor</h4>
        <div class="gap-2 mt-3 d-md-flex justify-content-md-end mb-3">
            <a href="{% url 'proveedor:crear' %}" class="btn btn-primary crm-btn">
            + Agregar Proveedor
            </a>
        </div>
    </div>
    

    {% for p in proveedores %}
    <div class="crm-card">


        <div class="fw-bold mb-1">
        {{ p.nombre}}
        </div>


        <div class="text-muted small"> {{ p.razon_social }} {{rfc_proveedor}}</div>
        <div class="text-muted small">{{ p.numero |default:"" }}</div>


        <div class="d-grid gap-2 mt-3 d-md-flex">
            <a href="{% url 'proveedor:detalle' p.idproveedor %}" class="btn btn-outline-secondary crm-btn">
            Consultar
            </a>
            <a href="{% url 'proveedor:editar' p.idproveedor %}" class="btn btn-success crm-btn">
            Editar
            </a>
            <button type="button"
                        class="btn btn-danger crm-btn btn-eliminar"
                        data-url="{% url 'proveedor:eliminar' 0 %}"
                        data-id="{{ p.idproveedor  }}"
                        data-nombre="{{ p.nombre }}">
                Eliminar
            </button>
      </div>
    </div>
    
    {% empty %}
    <p class="text-center text-muted">Agrega un proveedor</p>
    {% endfor %}
</div>
{% include "_modal_eliminar.html" %}
<script src="{% static 'js/eliminar.js' %}"></script>
{% endblock %}