{% extends 'base.html' %}
{% block title %}Cotización{% endblock %}
{% load static %}
{% block content %}
<!--te quedaste aqui-->
<div class="crm-section">
    <h4 class="crm-title">Cotizaciones</h4>
    {% for c in cotizaciones %}
    <div class="crm-card">

        <div class="fw-bold mb-1">
            {{ c.cliente.nombre }} {{ c.cliente.apellidopaterno|default:"" }} {{ c.cliente.apellidomaterno|default:"" }}
        </div>
        <div class="text-muted small">
             Fecha: {{ c.fecha|date:"d/m/Y" }} | <strong>Total: ${{ c.total }}</strong>
        </div>

        <div class="d-grid gap-2 mt-3 d-md-flex">
            <a href="{% url 'cotizacion:detalle' c.idcotizacion %}" class="btn btn-outline-secondary crm-btn">
            Consultar
            </a>
      </div>
    </div>
    
    {% empty %}
    <p class="text-center text-muted">Agrega una cotizacion</p>
    {% endfor %}
</div>
{% endblock %}