{% extends 'base.html' %}
{% block title %}Servicios{% endblock %}
{% load static %}
{% block content %}

<div class="crm-section">
    <div class="crm-section-header">    
      <h4 class="crm-title">Servicios</h4>
        <div class="gap-2 mt-3 d-md-flex justify-content-md-end mb-3">   
            {% if request.session.modo_consultor%}
                <a href="{% url 'cotizacion:listar' %}" class="btn btn-primary crm-btn">
                        Ver Cotizaciones
                </a>
            {%else%}
                <a href="{% url 'servicio:crear' %}" class="btn btn-primary crm-btn">
                     + Crear Servicio
                </a>
                <a href="{% url 'cotizacion:crear' %}" class="btn btn-primary crm-btn">
                     + Crear Cotización
                </a>
                <a href="{% url 'cotizacion:listar' %}" class="btn btn-primary crm-btn">
                    Ver Cotizaciones
                </a>
            {%endif%}  
            
        </div>
    </div>
    
    {% for s in servicios %}
        <div class="crm-card">
            <div class="fw-bold mb-1">
                {{ s.nombre |default:"" }}
                {% if request.session.modo_superusuario and  not s.activo %}
                        <span class="badge bg-danger ms-2">Eliminado</span>
                {% elif request.session.modo_superusuario and s.activo %}
                        <span class="badge bg-success ms-2">Activo</span>
                {% endif %}
            </div>
                <div class="text-muted small"> {{ s.precio }}</div>
                <div class="text-muted small">{{ s.descripcion }}</div>
                
                <div class="d-grid gap-2 mt-3 d-md-flex">
                    {% if s.activo %}
                        <a href="{% url 'servicio:detalle' s.idservicio %}" class="btn btn-outline-secondary crm-btn">
                        Consultar
                        </a>
                        <a href="{% url 'servicio:editar' s.idservicio %}" class="btn btn-success crm-btn">
                        Editar
                        </a>
                        <button type="button"
                                    class="btn btn-danger crm-btn btn-eliminar"
                                    data-url="{% url 'servicio:eliminar' 0 %}"
                                    data-id="{{ s.idservicio }}"
                                    data-nombre="{{ s.nombre }}">
                            Eliminar
                        </button>
                    {%endif%}
                </div>
        </div>    
    {% empty %}
    <p class="text-center text-muted">Agrega un servicio</p>
    {% endfor %}
</div>
{% include "_modal_eliminar.html" %}
<script src="{% static 'js/eliminar.js' %}"></script>
{% endblock %}