{% extends 'base.html' %}
{% block title %}Servicios{% endblock %}
{% load static %}
{% block content %}

<div class="crm-section">
    <div class="crm-section-header">
        <h4 class="crm-title">Servicios</h4>

        <a href="{% url 'servicio:crear' %}" class="btn btn-primary crm-btn">
        + Crear Servicio
        </a>
        <a href="{% url 'cotizacion:crear' %}" class="btn btn-primary crm-btn">
        + Crear Cotización
        </a>
    </div>

    {% for s in servicios %}
    <div class="crm-card">


        <div class="fw-bold mb-1">
        {{ s.nombre |default:"" }}
        </div>


        <div class="text-muted small"> {{ s.precio }}</div>
        <div class="text-muted small">{{ s.descripcion }}</div>

        <div class="d-grid gap-2 mt-3 d-md-flex">
            <a href="{% url 'servicio:detalle' s.idservicio %}" class="btn btn-outline-secondary crm-btn">
            Consultar
            </a>
            <a href="{% url 'servicio:editar' s.idservicio %}" class="btn btn-success crm-btn">
            Editar
            </a>
           <button type="button"
                        class="btn btn-danger crm-btn btn-eliminar"
                        data-url="{% url 'servicio:eliminar' 0 %}"
                        data-id="{{ s.idservicio }}"
                        data-nombre="{{ s.nombre }}">
                Eliminar
            </button>
      </div>
    </div>
    
    {% empty %}
    <p class="text-center text-muted">Agrega un servicio</p>
    {% endfor %}
</div>
{% include "_modal_eliminar.html" %}
<script src="{% static 'js/eliminar.js' %}"></script>
{% endblock %}