{% extends 'base.html' %}
{% load static %}
{% load dict_extras %}
{% block title %}Pipeline de Oportunidades{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'oportunidades/css/estilokanban.css' %}">
{% endblock %}

{% block content %}
      <div class="crm-section-header">
        <h4 class="crm-title">Mis Oportunidades</h4>
        <button class="btn btn-primary shadow-sm" data-bs-toggle="modal" data-bs-target="#modalCrear">
          + Crear Oportunidad
        </button>
      </div>

      <div class="container-fluid mt-3">

        <div class="kanban-container">

          {% for etapa in etapas %}
          {% if etapa.nombre_etapa != "Cierre-Perdido" %}

          <div class="kanban-column" data-etapa-id="{{ etapa.idetapa_ventas }}">
              <h5>{{ etapa.nombre_etapa }}</h5>

              <div class="cards-wrapper">

                {% with lista=data|dict_get:etapa.nombre_etapa %}
                {% if lista %}
                {% for o in lista %}

                <div class="kanban-card" draggable="true" data-id="{{ o.idoportunidad }}">

                  <div class="card-menu dropdown dropup"><!--<div class="card-menu dropdown ">-->
                    <i class="bi bi-three-dots-vertical" data-bs-toggle="dropdown" style="cursor:pointer"></i>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" onclick="abrirConsultar({{ o.idoportunidad }}); return false;">Consultar</a></li>
                        {% if o.cliente_oportunidad and o.cliente_oportunidad.activo%}
                          <li><a class="dropdown-item" href="#" onclick="abrirEditar({{ o.idoportunidad }}); return false;">Editar</a></li>
                        {% endif %}
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item text-danger" href="#" onclick="abrirEliminar({{ o.idoportunidad }}); return false;">Eliminar</a></li>
                    </ul>
                  </div>

                  <div class="card-title">{{ o.nombreoportunidad }}</div>

                  <div class="card-client">
                    <i class="bi bi-person"></i> {{ o.cliente_oportunidad.nombre }}
                  </div>

                  <div class="card-price text-success">
                    ${{ o.valor_estimado }}
                  </div>

                </div>

                {% endfor %}
                {% endif %}
                {% endwith %}

              </div>
          </div>

          {% endif %}
          {% endfor %}

        </div>
      </div>    
    <!-- Modales -->
      {% include "oportunidades/_crear.html" %}
      {% include "oportunidades/_consultar.html" %}
      {% include "oportunidades/_editar.html" %}
      {% include "oportunidades/_eliminar_confirmar.html" %}
    <script src="{% static 'oportunidades/js/oportunidades.js' %}"></script>
{% endblock %}